<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Partners</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">

</head>
<body>

<div id="app">
    {{include '../layouts/header.html'}}
    {{block 'body'}}
    <div class="container partners">

    </div>
    {{/block}}
    {{include '../layouts/footer.html'}}
</div>

<script src="/node_modules/vue/dist/vue.js"></script>
<script src="/public/js/vue.js"></script>
<script src="/public/js/main.js"></script>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>