<footer class="container">
  <div class="copyright">
    <div class="center">
      <p>
        <span>© 1988 - 2020 Trend Micro Incorporated. All rights reserved.</span>
        <span class="spa">|</span>
        <span>用户维权热线：4006067733</span>
        <span class="spa">|</span>
        <a href="#">经营证照</a>
        <span class="spa">|</span>
        <span>苏公网安备 32011402010071号</span>
        <span class="spa">|</span>
        <a href="#">沪ICP备09011604号-2</a>
      </p>
      <p>
        <a href="#"><i class="i1"></i>Global Site</a>
        <span class="spa">|</span>
        <a href="#"><i class="i2"></i>Сайт России</a>
        <span class="spa">|</span>
        <a href="#"><i class="i3"></i>Situs Indonesia</a>
        <span class="spa">|</span>
        <a href="#"><i class="i4"></i>Sitio de España</a>
        <span class="spa">|</span>
        <a href="#"><i class="i5"></i>เว็บไซต์ประเทศไทย</a>
      </p>
      <p>
        <span>趋势科技旗下网站：</span>
        <a href="#">PPBOOK</a>
        <span class="spa">|</span>
        <a href="#">PPBLOG</a>
      </p>
    </div>
    <div class="down">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
</footer>